@model eCommerce.ViewModels.System.Users.UserVm

@{
    ViewData["Title"] = "Chi tiết";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">Chi tiết</h1>
    </div>
    <div class="row justify-content-center">
        <div class="card shadow mb-4 col-lg-8">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Id):
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Id)
                    </dd>                    
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UserName):
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>                 
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FirstName):
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>   
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.LastName):
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>               
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email):
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PhoneNumber):
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                </dl>
                <div class="row justify-content-start">
                    <a asp-action="Index" asp-controller="User" class="btn btn-info small">Về danh sách</a>
                </div>
            </div>
        </div>
    </div>
</div>
