@using eCommerce.ViewModels.Common;
@model PagedResult<eCommerce.ViewModels.Catalog.Products.ProductViewModel>
@{
    ViewData["Title"] = "Sản phẩm";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">Sản phẩm</h1>
        <a asp-action="Create" asp-controller="Product" class="btn btn-info small">Tạo mới</a>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <nav class="row justify-content-end mr-1">
                    <form class="mb-4 col-lg-6" method="get">
                        <div class="input-group">
                            <input type="text" name="keyword" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </nav>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Tồn</th>
                            <th>Chi tiết</th>
                            <th>Tùy chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                                <td>@Html.DisplayFor(modelItem => item.Details)</td>
                                <td>
                                    @Html.ActionLink("Chi tiết", "Create", new { id = item.Id }) |
                                    @Html.ActionLink("Sửa", "Update", new { id = item.Id }) |
                                    @Html.ActionLink("Xóa", "Creates", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <nav class="row justify-content-end mr-3">
                @await Component.InvokeAsync("Pager", Model)
            </nav>
        </div>
    </div>
</div>
<!-- /.container-fluid -->